.fondo{
    color:black;
    background-image:url('curry.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #333;
    opacity: 0.9;
    padding: 200px;
    text-align:center;
    font-size: 50px;
        
}


.fondo1{
    color:green;
    background-image:url('equipo.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-color: #333;
    opacity: 0.9;
    padding: 511px;
    text-align:center;
    font-size: 140px;
        
}